@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.bunny.net/css?family=akshar:300,400,500,600,700);

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: 'Akshar', sans-serif;

    font-size: 18px;
}

.theme-switcher {
    @apply border border-white-secondary dark:border-gray-secondary relative
    rounded-md sm:divide-x divide-white-secondary dark:divide-gray-secondary 
    sm:py-2.5 flex-col sm:flex-row w-14 h-14 sm:h-[unset] sm:w-[unset];

    .theme-button {
        @apply z-10 w-14 h-14 sm:h-[unset] sm:w-24 absolute sm:relative;
    
        & label {
            & > span {
                @apply cursor-pointer flex flex-col justify-center 
                items-center px-6 rounded-md dark:text-white-primary/50 text-gray-primary/50 w-full h-full;

                & > i {
                    @apply flex items-center h-5 text-2xl sm:text-base;
                }
            }
    
            &.active > span {
                @apply text-white-primary;
            }
        }
    }
    
    .active-background {
        @apply bg-primary shadow-sm rounded-md
        absolute w-[calc(4rem)] h-[calc(100%_-_1rem)] top-2 left-[1rem] hidden sm:block;
    }  
}

.icon {
    @apply cursor-pointer;
}

section {
    @apply lg:px-40 lg:text-lg;
}

a:not(.logo) {
    @apply text-primary;
}

.spinner_ngNb{
    animation:spinner_ZRWK 1.2s cubic-bezier(0.52,.6,.25,.99) infinite
}
.spinner_6TBP{
    animation-delay:.6s
}
@keyframes spinner_ZRWK{
    0%{transform:translate(12px,12px) scale(0);opacity:1}
    100%{transform:translate(0,0) scale(1);opacity:0}
}

